<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Code Authority Challenge</title>


    @Styles.Render("~/Content/css")

    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
      rel="stylesheet" type="text/css" />

    @Scripts.Render("~/bundles/jsAssets")   


</head>
<body>


    <header class="logo">
        <img id="img_logo" alt="Logo" src="@Url.Content("~/Images/logo-horizontal.png")" />
    </header>


    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

</body>
</html>